{{#each this}}

  <h2 class="country-title">{{name}}</h2>
  <div class="container-card">
    <ul class="country-items ">
      <li class="country-item list"> <span class="bold">Capital:</span> {{ capital }} </li>
      <li class="country-item list"> <span class="bold">Population:</span> {{ population }} </li>
      <li class="country-item list"> <span class="bold">Languages: </span>
        <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
      </li>
    </ul>

    <div class="country-flag">
      <img src="{{flag}}" alt="{{name}} flag" width="400" height="252">
    </div>
  </div>

{{/each}}